/* styling for addsearch */
/* HIDE SCREEN CAPTURES - ONLY USE FOR SEARCH WIDGET */
#addsearch-results #addsearch-pic{
 display: none !important;
}
#addsearch-results.addsearch-d #addsearch-results-right{
 width: 0;
 margin-left: 583px;
}
#addsearch-results.addsearch-d {
  width: 585px !important;
  margin-left: 192px; /* REMOVE THIS LINE IF YOUR SEARCH INPUT IS ALIGNED TO THE LEFT */
}
