/* styling for Teams plugin */

/* all teams */
.rt-team-container {
    .single-team-area {
        img.default-img,
        img.rt-team-img {
            max-width: 300px;
            margin:auto;
        }
        .tlp-content {
            padding-bottom: 0px!important;
            h3 { // the name
                margin-top: 0px!important;
                margin-bottom: 0px!important;
                font-weight: bold;
            }
        }
        .contact-info {
            padding-top: 5px;
            a {
                color: $coe-maroon!important;
                font-weight: normal!important;
            }
        }
    }

}

/* layout 3 */
